{% extends 'perfiles/Bases/base1.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="col-6 m-3 justify-self-center">
    <form action="" method="POST"> {% csrf_token %}
        <fieldset class="form-group"> 
            <legend class="border-bottom mb-4">Registrate acá :D</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-grupo">
            <button type="submit" class="btn btn-outline-info">Register</button>
        </div>
    </form>
    <p></p>
    <div class="border-top pt-3">
        <small class="text-muted">Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign in</a></small>
    </div>
</div>
{% endblock %}